target/
output/
install.sh

#Ignore IntelliJ IDEA project files
.idea/
*.uml
*.iml
*.ipr
*.iws

#Eclipse project files
.classpath
.project
.settings/
bin/

#NetBeans project files
nbproject/
**/nb-configuration.xml

#Documentation
docs/presentation/node_modules/
/docs/_build

dependency-reduced-pom.xml
.flattened-pom.xml
Teste.java
Test.java
.DS_Store
*.jar
*.~lock*
~$*

deploy.sh
/cloudsim-plus-examples/src/main/java/org/cloudsimplus/MyExample/serialObject/
/cloudsim-plus/src/main/java/org/cloudsimplus/traces/google.rar
/cloudsim-plus-examples/src/main/java/org/cloudsimplus/MyExample/part-00016-of-00500.csv
/cloudsim-plus-examples/src/main/java/org/cloudsimplus/MyExample/logs/
